

@font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-MediumItalic.ttf") format("ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-ThinItalic.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-ExtraLight.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-Light.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-LightItalic.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-Regular.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-RegularItalic.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-Medium.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-MediumItalic.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-SemiBold.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-Bold.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-BoldItalic.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-ExtraBold.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-Black.ttf") format("otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src: url("/public/assets/Fonts/Poppins/Poppins-BlackItalic.ttf") format("otf");
}



body {
font-family: 'Poppins';
}