/* // @import "bootstrap/scss/_functions.scss";
// @import "bootstrap/scss/_variables.scss";
// // @import "bootstrap/scss/mixins/_breakpoints.scss";
// @import "bootstrap/scss/_mixins.scss"; */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-image: url("/recipe_search/assets/Images/Illustration2.png"), url("/recipe_search/assets/Images/Illustration1.png"),
    url("/recipe_search/assets/Images/Illustration3.png"), url("/recipe_search/assets/Images/Illustration4.png"),
    url("/recipe_search/assets/Images/Illustration5.png");
  background-position: right top 12px, left bottom 10px, center left 170px, right bottom -5px, right bottom 100px;
  background-repeat: no-repeat;
  background-size: 250px, 250px, 150px, 100px, 30px;
  background-attachment: fixed;
  background-color: lavender;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.has-search .form-control {
  padding-left: 2.375rem;
  margin-top: 40px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.fa-stars {
  background-image: url("/recipe_search/assets/Icons/rating.png");
  background-repeat: no-repeat;
  background-position: left 9px top 9px;
  opacity: 0.7;
}
.fa-search2 {
  background-color: white;
  border-radius: 25px;
  background-image: url("/recipe_search/assets/Icons/Icon-feather-search.png");
  background-repeat: no-repeat;
  background-position: left 9px top 9px;
  opacity: 0.7;
}
.dataCard {
  background-color: black;
  border-radius: 50%;
  height: 100px;
  color: white;
}
input.form-control {
  /* margin-left: 45px; */
  border: 0;
  background-color: transparent;
}

.card-body {
  padding: 3px;
  margin: 0;
}
#catagory {
  color: white;
  background-color: black;
  padding: 6px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 15px;
  /* float: right; */
  right: 0;
  top: -1px;
  position: absolute;
}
.card-img-top {
  max-height: 160px;
  border-radius: 15px;
}

.card {
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  min-height: 350px;
  border-radius: 15px;
  overflow-y: auto;
}
.card-text {
  bottom: 0;
}
.catagory-title {
  text-align: right;
}
.clock-icon {
  background-color: white;
  background-image: url("/recipe_search/assets/Icons/Icon-feather-clock.png");
  background-repeat: no-repeat;
  /* background-position: left 5px top 9px; */
  opacity: 1;
}
.lng-title{
  font-size:18px;
}
