@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";
.card{
    border-radius: .75rem;
    background-position: left top;
    background-repeat: no-repeat;
    background-size:cover;
}
.card-body,.card{
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}
// .card .card-body:nth-child(even){
//     background-color: #000000;
//     color: #ffffff;
// }
// .card .card-body{
//     opacity: 0.7;
//     background: rgb(255,255,255);
//     background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 58%, rgba(0,0,0,0.23713235294117652) 100%);  color: #ffffff;
// }
.card-body{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 58%, rgba(0,0,0,0.23713235294117652) 100%);
}
.card .card-img-top{
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
}
.card-header{
   min-height: 238px;
   padding-top: 25%;
}
.card-container:not(:hover) .display-on-hover{
    display:none;
}

.card-container:hover {
    background: rgb(0,10,10);
    background: linear-gradient(0deg, rgba(0,10,10,1) 0%, rgba(37,255,0,0.3575805322128851) 100%);
}

.hover-btn,.hover-btn:hover{
    color: #ffffff;
    border-color: #ffffff;
}



.category{
    position: absolute;
    color: #ffffff;
    opacity: 0.8;
    right: 0;
    background-color: #000000;
    border-bottom-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    min-width: 100px;
}


.heart-icon {
    width: 25px;
    height: 25px;
}
.clock-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 3px;
}